<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>aaaaaaaaaaaaaaaazaaa</title>
    </head>
    <body>
        moi c'est le mal
        <p> Attention : <%= salutation.toUpperCase() %></p>
        <% candidats.map( item => { %>
            <li>
                <%= item.nom %>
            </li>
       <% }) %>
    </body>
</html>